:root {
  --primary:#29395a;
  --secondary:#405780;
  --third:#9ab6ff;
  --forth:#ffc885;
  --fith:#f85800;

  --sixth:#30405c;
  --seventh:#4495aa;
  --eighth:#96a4c9;
  --ninth:#f3b546;
  --tenth:#f27659;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}


.mainFrame {
  background-color: white;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  height: auto;
  min-width:min-content;
  padding:5px;
  font-family: poppins;
  display: flex;
  justify-content:center;
}


.leftPannel {
  background-color: var(--seventh);
  border: var(--primary) solid;
  border-width: 2px;
  border-radius: 10px;
  width: 30%;
  min-width: min-content;
  /* word-break: break-word; */
  display: flex;
  justify-content:center;
}

.innerLeftPannel {
  /* display: block; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin: 20px;
 
}
.tda {
  /* align-content: center; */
  margin: 20px;
}

.createNewButton {
  background-color:var(--ninth);
  border-width: 3px;
  border-radius: 50px;
  color:  var(--primary);
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}

.clearButton {
  background-color:var(--ninth);
  border: var(--primary) solid;
  border-width: 3px;
  border-radius: 50px;
  color:  var(--primary);
  padding: 5px 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-family: poppins;
  transition-duration: 0.4s;
  cursor: pointer;
  /* align-items: center; */
}

/* .rightSection { */
  /* background-color: aquamarine; */
/* } */


.gradProfile {
  /* background-color: rgb(203, 103, 103); */
  border-style: solid;
  border-width: 2px;
  border-radius:10px;
  margin-bottom: 3px;
  margin-left: 15px;
  padding: 10px;
}

.gradCard {
  border-radius:10px;
  /* padding:5px; */
  margin-bottom: -35px;
  display: flex;
  justify-content:center
}

.topLeft {
  background-color: var(--ninth);
  padding: 10px;
  width: 100%;
  border-top-left-radius: 10px;
  word-break: break-all;
}

.topRight {
  background-color: var(--ninth);
  padding: 10px;
  width: 100%;
  word-break: break-all;
  border-top-right-radius: 10px;
}

h3 {
  margin-bottom: 0px;
}

.bioSpace {
  background-color: var(--seventh);
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 10px 0px 5px 0px;
}

.bioTitle {
  margin-top: 0px;
}

.editProfile {
  background-color:   var(--secondary);
  display:inline-flex;
  justify-content: space-around;
  width:160%;
  border-radius: 10px;
  border-width: 2px;
  margin-right: 5px;
}

.editRemoveButtons {
  display: flex;
  justify-content: center;
  /* margin-bottom: -20px; */
  margin-top: 15px;
  margin-bottom: -20px;
 }

.editButton {
  background-color:var(--ninth);
  border: var(--primary) solid;
  border-width: 3px;
  border-radius: 50px;
  color:  var(--primary);
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
  font-family: poppins;
  transition-duration: 0.4s;
  cursor: pointer;
  align-items: center;
}

.removeButton {
  background-color:var(--ninth);
  border: var(--primary) solid;
  border-width: 3px;
  border-radius: 50px;
  color:  var(--primary);
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
  font-family: poppins;
  transition-duration: 0.4s;
  cursor: pointer;
}


/* .cols {
  margin: 20px;
} */