:root {
  --primary:#29395a;
  --secondary:#405780;
  --third:#9ab6ff;
  --forth:#ffc885;
  --fith:#f85800;

  --sixth:#30405c;
  --seventh:#4495aa;
  --eighth:#96a4c9;
  --ninth:#f3b546;
  --tenth:#f27659;
}

* {
  font-family: 'Raleway', 'raleway', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  font-family: 'Raleway', 'raleway', sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #74B2D7;
}

.accordion-title:hover {
  background-color: #74B2D7;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background: linear-gradient(110.49deg, #F5F4F4 25.81%, #74B2D7 128.71%) !important;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 20px;
  }

  .accordion {
    width: 90%;
  }
}

body{
  background: linear-gradient(110.49deg, #F5F4F4 25.81%, #74B2D7 128.71%) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.header,.navbar{
  background-color: transparent !important;
}

.logo-center {
  display: grid;
  align-self: center;
  justify-self: center;
}

.logo {

  margin: 20px 0 0 20px;
  justify-self: center;

}

.mainFrame {
  display: grid;
  grid-template-columns: 40% 30% 40%;
  background-color: transparent;
  position: relative;
  margin: 5px;
  height: auto;
  min-width:min-content;
  padding: 3% 10% 0 10%;
  font-family: raleway;
  justify-content:center;
}


.leftPannel {
  background-color: transparent;
  border: 0;
  min-width: min-content;
  justify-self:center;
}

.innerLeftPannel {
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
 
}

.innerLeftPannel p{
  text-align: center;
  margin-bottom: 15px;
}
.tda {
  align-content: center;
  margin: 20px;
 }

.createNewButton {
    align-self: center;
    background: linear-gradient(113.04deg, #74B2D7 35.08%, #C4C4C4 72.81%);
    border: 0;
    border-radius: 0px 20px 20px 20px;
    color: black;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    justify-self: center;
    padding: 1.5em 0.7em;
    min-width: 260px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
}

.clearButton {
  background-color:var(--ninth);
  border: var(--primary) solid;
  border-width: 3px;
  border-radius: 50px;
  color:  var(--primary);
  padding: 5px 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-family: raleway;
  transition-duration: 0.4s;
  cursor: pointer;
}

.newGradDisplay {
  display: grid;
  justify-self: center;
}

.gradCard {
  /* margin-bottom: -35px; */
  display: grid;
  justify-self:center;
  align-self:center;
}

.topLeft {
  align-self: center;
  background: linear-gradient(113.04deg, #74B2D7 35.08%, #C4C4C4 72.81%);
  border-radius: 0px 20px 20px 20px;
  color: #fff;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  justify-self: center;
  padding: 1.5em 0.7em;
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 18px;

}

.topLeft h3{
  color: #000;
}

.topRight {
  background-color: var(--ninth);
  padding: 10px;
  width: 100%;
  word-break: break-all;
  border-top-right-radius: 10px;
}

h3 {
  margin-bottom: 0px;
}

.bioSpace {
  background-color: var(--seventh);
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 10px 0px 5px 0px;
}

.bioTitle {
  margin-top: 0px;
}

.editProfile {
  background-color: transparent;
  display:inline-flex;
  width:100%;
  border-radius: 10px;
  border-width: 2px;
  margin-right: 5px;
}

.editRemoveButtons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: -20px;
 }

.editButton {
  background-color:var(--ninth);
  border: var(--primary) solid;
  border-width: 3px;
  border-radius: 50px;
  color:  var(--primary);
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
  font-family: raleway;
  transition-duration: 0.4s;
  cursor: pointer;
  align-items: center;
}

.removeButton {
  background-color:var(--ninth);
  border: var(--primary) solid;
  border-width: 3px;
  border-radius: 50px;
  color:  var(--primary);
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
  font-family: raleway;
  transition-duration: 0.4s;
  cursor: pointer;
}

.logoutButton{
  display: none !important;
}

button{
  align-self: center;
  background: linear-gradient(113.04deg, #74B2D7 35.08%, #C4C4C4 72.81%);
  border: 0;
  border-radius: 0px 20px 20px 20px;
  color: black;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  justify-self: start;
  padding: 1.5em 0.7em;
  min-width: 260px;
  text-align: center;
  text-transform: uppercase;
}

.form-col-one{
  display: grid;
}

input{
  padding: 10px 5px;
}

/* .cols {
  margin: 20px;
} */

.quiz-aim {
  padding: 10%;
  font-size: 24px;
  font-weight: 500;
}

.center {

  text-align: center;
}